@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

h1{
    font-family:  'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
}

.custom-letter-spacing {
    letter-spacing: 4px;
  }

.custom-letter-spacing:hover{
    cursor: pointer;
}

  
.card:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

a{
    color: black ;
    overflow: hidden;
}

.container {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
  }

  .message {
    padding-top: 30px;
    font-size: 1.8rem;
    letter-spacing: 5px;
    color: white;
  }

  .register {
    font-family:  'SEGA LOGO FONT';
    font-size: 2rem;
    letter-spacing: 5px;
    color: #08827e;
  }